body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $fira;
	font-size: 14px;
	color: $black;
	border-sizing: border-box;
}

header{
    background-color: #f4f4f4;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    margin: 0 0 20px 0;
    @media (min-width: $sm){
        height: 80px;
        line-height: 80px;
    }
    .container{
    	@include maxWidth;
    	h1{
            margin: 0;
            font-size: 6vw;
	    	font-weight: 300;
            text-align: center;
            @media (min-width: $sm){
                font-size: 2rem;
                text-align: left;
            }
	    }
    }
}

footer{
    background-color: #000;
    margin: 20px 0 0 0;
    .container{
    	@include maxWidth;
    	p{
            vertical-align: middle;
    		color: $white;
            font-size: 1.2rem;
            text-align: center;
            font-weight: 700;
    	    cursor: pointer;
            margin: 0;
            padding: 30px 0;
            text-decoration: underline;
        }
        form{
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            padding: 0 0 30px 0;
            h3{
                color: $white;
            }
            input{
                display: block;
                width: calc(100% - 30px);
                margin: 25px 0 0 0;
                padding: 10px 15px;
                border: 0;
            }
            textarea{
                background-color: $white;
                width: calc(100% - 30px);
                padding: 15px;
                margin: 15px 0 25px;
            }
            span{
                display: block;
                display: block;
                font-size: .7rem;
                color: $white;
                margin: 3px 0 0;
            }
            button{
                display: block;
                margin: 0 auto;
                width: auto;
                padding: 8px 15px;
            }
        }
    }
}